.pagination a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
    background: white;
    border-radius: 100%;
    margin: .5rem;
}

.pagination .active, .sources .active {
    background: #0198b5;
    color: white;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.sources {
    margin: 2rem 0;
}

.sources ul {
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    align-items: center;
}

.sources ul li {
    padding: 0;
    width: auto;
}

.sources ul li a {
    padding: .5rem 1rem;
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
    margin: 0 .5rem;
}